[Desktop Entry]
Type=Application
Name=Floss
Comment=Digital painting and image editing
Exec=floss %f
Icon=com.flosspaint.Floss
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=application/x-floss;application/x-kra;
StartupNotify=true
